* {
    font-family: 'Roboto', sans-serif; 
}
/* Липке меню помічено * */
header {
    position: relative;
    height: 50px; /* * */
}

nav {
    position: fixed; /* * */
    width: 100%; /* * */
    height: 50px;
    background: #212121;
    z-index: 2;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0; /* обнулюємо margin-bottom, що виставив Bootstrap Reboot */
    list-style-type: none; /* забираємо маркування списку */
}

.menu .menu_link {
    font-weight: 300;
    font-size: 15px;
    color: #FFFFFF;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    top: 50px; /* * */
    width: 100%; /* Виправляємо проблему із absolute, бвтьківський елемент header в relative. */
    height: 87px;
    background: rgba(0,0,0, .6); /* прозорість 60% */
}

.subheader .subheader_logo { 
    display: block;
    margin-top: 17px;
    max-width: 100%; /* Вразі зміни логотипа, буде дозволено використовувати максимальну ширину колонки */
}

.subheader .subheader_official {
    margin-top: 3px;
    font-weight: 200;
    font-size: 13px;
    color: #FFFFFF;
    opacity: 0.5;
}

.subheader .subheader_call {
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    text-align: right;
    color: #FFFFFF;
}

.subheader .subheader_phone {
    display: block;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}
.subheader .subheader_btn {
    margin-top: 21px;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.07);
    border: none;
    border-radius: 4px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.promo {
    min-height: 800px;
    background: url('../img/bg/main_uber_bg.jpg') center center/cover no-repeat;
    padding: 140px 0 186px 0;  
}

.promo .promo_header {
    margin: 0;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_subheader {
    margin: 0;
    margin-top: 10px;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_text {
    margin: 0;
    margin-top: 26px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.promo .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 116px;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.07);
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
}

.reasons {
    min-height: 849px;
    padding: 20px 0 64px 0;
} 

.label {
    margin: 0 auto;
    height: 27px;
    width: 115px;
    padding: 7px 12px;
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #000000;
}

.title {
    margin: 0;
    padding-top: 43px;
    font-weight: 700;
    font-size: 38px;
    line-height:38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
} 

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 35px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    width: 116px;
    height: 116px;
    border-radius: 100%;
    background: #1EACC7;
}

.reasons .reasons_block .reasons_descr {
    width: 341px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: #1EACC7;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #202020; 
}